### Load Preprocess Data

In [1]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from modeling_ML import*
from sklearn.decomposition import PCA
train = pd.read_csv('train_nf_preprocess.csv')
test = pd.read_csv('test_nf_preprocess.csv')

In [2]:
# X_train, X_test, y_train, y_test,test = prep_split(train,test)

In [3]:
train = train.drop(['Unnamed: 0'],axis=1)
test = test.drop(['Unnamed: 0'],axis=1)
x = train.loc[:, train.columns != 'Exited']
y = train.Exited

train_df.shape (8000, 14)
test_df.shape (2000, 14)

In [4]:
from hw4_library import*
# Support functions
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from scipy.stats import uniform

### PCA

In [5]:
x_array=np.array(x)
pca = PCA(n_components=1)
pca.fit(x_array)
x_pca = pca.transform(x_array)
x_pca.shape

(8000, 1)

### XGB model as example

In [6]:
# Fit Extreme Gradient boosting classifier
param_grid = {'max_depth': [5,6,7,8], 'gamma': [0.01,0.001,0.001],'min_child_weight':[1,5,10], 'learning_rate': [0.05,0.1, 0.2, 0.3], 'n_estimators':[5,10,20,100]}
xgb_grid = GridSearchCV(XGBClassifier(), param_grid, cv=5, refit=True, verbose=0)
xgb_grid.fit(x_pca,y)
best_model(xgb_grid)

0.794625
{'gamma': 0.01, 'learning_rate': 0.2, 'max_depth': 6, 'min_child_weight': 1, 'n_estimators': 20}
XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0.01, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.2, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=20, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0.01, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.2, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=20, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [7]:
n = best_model(xgb_grid)
# Fit Extreme Gradient Boost Classifier
XGB = n
XGB.fit(x_pca,y)

0.794625
{'gamma': 0.01, 'learning_rate': 0.2, 'max_depth': 6, 'min_child_weight': 1, 'n_estimators': 20}
XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0.01, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.2, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=20, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0.01, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.2, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=6, max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=20, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [8]:
# print(classification_report(y_test, XGB.predict(X_test)))

In [9]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,TenureByAge,BalanceSalaryRatio,CreditScoreGivenAge,HasCrCard,IsActiveMember,Geography_Spain,Geography_France,Geography_Germany,Gender_Male,Gender_Female
0,0.892508,0.188679,0.6,0.409621,0.333333,0.589163,0.463158,0.257297,0.595089,-1,1,1,-1,-1,1,-1
1,0.768730,0.490566,0.4,0.000000,0.000000,0.654032,0.202469,0.047066,0.267236,1,-1,-1,1,-1,-1,1
2,0.736156,0.056604,0.6,0.456025,0.000000,0.887514,0.597849,0.191905,0.736763,1,1,-1,1,-1,-1,1
3,0.475570,0.226415,0.4,0.331954,0.000000,0.627770,0.320000,0.207795,0.379865,1,-1,1,-1,-1,-1,1
4,1.000000,0.264151,0.6,0.459864,0.000000,0.810459,0.406349,0.212810,0.542220,-1,1,1,-1,-1,1,-1

In [10]:
test.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,TenureByAge,BalanceSalaryRatio,CreditScoreGivenAge,HasCrCard,IsActiveMember,Geography_France,Geography_Spain,Geography_Germany,Gender_Female,Gender_Male
0,0.912052,0.22,0.2,0.000000,0.000000,0.572521,0.221154,0.067505,0.633888,-1,-1,1,-1,-1,1,-1
1,0.700326,0.28,0.2,0.608183,0.000000,0.804225,0.196429,0.269989,0.484251,1,-1,1,-1,-1,-1,1
2,0.322476,0.12,0.8,0.000000,0.333333,0.244890,0.669118,0.161560,0.499402,1,1,1,-1,-1,-1,1
3,0.928339,0.28,0.2,0.217697,0.000000,0.925166,0.196429,0.089912,0.570928,1,-1,-1,1,-1,1,-1
4,0.283388,0.44,0.8,0.000000,0.000000,0.915482,0.415000,0.010434,0.220159,1,1,1,-1,-1,1,-1

In [11]:
#PCA
test_array=np.array(test)
pca = PCA(n_components=1)
pca.fit(test_array)
pca_test = pca.transform(test_array)
pca_test.shape

(2000, 1)

In [12]:
y_pred = XGB.predict(pca_test)

### save prediction result

In [13]:
df = pd.DataFrame(y_pred)

In [14]:
testing= pd.read_csv('test.csv')

In [15]:
res = pd.concat([testing['RowNumber'],df],axis=1)
res = res.rename(columns={0: 'Exited'})
res.to_csv('result_pca.csv')