### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [2]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
#count unique SN
data = {'Total Players':[purchase_data['SN'].nunique()]}
df = pd.DataFrame(data)
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [4]:
analysis = {
    #aggregate by requirement
    #plot by the right format
    'Number of Unique Items':[purchase_data['Item ID'].nunique()],
    'Average Price':['$'+str(round(purchase_data['Price'].agg('mean'),2))],
    'Number of Purchases':[purchase_data['Price'].count()],
    'Total Revenue':['$'+str(round(purchase_data['Price'].agg('sum'),2))]
}
df = pd.DataFrame(analysis)
df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
total = purchase_data['SN'].nunique()
#get gender data
def gender_count(gender):
    return purchase_data[purchase_data['Gender']==gender]['SN'].nunique()
female = gender_count('Female')
male = gender_count('Male')
other = gender_count('Other / Non-Disclosed')
#calculate percentage
def percentage(num,sum_num):
    return round((num/sum_num)*100,2)
#plot as df format
data = [[percentage(male,total), male], [percentage(female,total), female], [percentage(other,total), other]]
df_gender = pd.DataFrame(data, columns=['Percentage of Players', 'Total Count'],index=['Male','Female','Other / Non-Disclosed'])
df_gender

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [81]:
purchase_sum = purchase_data.groupby('Gender').agg('sum')['Price']#calculate gender total price
purchase_analysis = {
    #plot as the df format
    'Purchase Count': purchase_data.groupby('Gender')['Purchase ID'].nunique(),
    'Average Purchase Price': round(purchase_data.groupby('Gender').agg('mean')['Price'],2),
    'Total Purchase Value': purchase_sum,
    'Avg Purchase Total per Person': round(purchase_sum/df_gender['Total Count'],2)
}
df = pd.DataFrame(purchase_analysis)
df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [91]:
purchase_data['SN'].nunique()
age_ls = purchase_data['Age']
name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# cut age_ls
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
purchase_data['Age group'] = pd.cut(age_ls,bins,labels = name)
#calculate each group percentage
grouped = purchase_data.groupby('Age group')
percentage_age = round((grouped['SN'].nunique()/total)*100,2)
age_analysis = {
    'Percentage of Players': percentage_age,
    'Total Count': grouped['SN'].nunique()
}
df_age = pd.DataFrame(age_analysis)
df_age

           Percentage of Players  Total Count
Age group
<10                         2.95           17
10-14                       3.82           22
15-19                      18.58          107
20-24                      44.79          258
25-29                      13.37           77
30-34                       9.03           52
35-39                       5.38           31
40+                         2.08           12

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

In [108]:
#calculate avg, total, count
avg_g = round(grouped.agg('mean')['Price'],2)
total_g = round(grouped.agg('sum')['Price'],2)
count_g = round(grouped.agg('count')['Price'],2)
#plot format
age_purchase_analysis = {
    'Purchase Count': count_g,
    'Average Purchase Price': avg_g,
    'Total Purchase Value': total_g,
    'Average Purchase Total per Person': round(total_g/grouped['SN'].nunique(),2)
}
df_age_purchase = pd.DataFrame(age_purchase_analysis)
#dollar sign
df_age_purchase.style.format({
    'Average Purchase Price': "${:}",
    'Total Purchase Value': "${:}",
    'Average Purchase Total per Person': "${:}"
})

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

In [145]:
#calculate count sum avg
group_SN = purchase_data.groupby('SN')
count_SN = group_SN.agg('count')['Price']
total_SN = round(group_SN.agg('sum')['Price'],2)
avg_SN = round(group_SN.agg('mean')['Price'],2)
#plot df
spender_analysis = {
    'Purchase Count': count_SN,
    'Average Purchase Price': avg_SN,
    'Total Purchase Value': total_SN,
}
#dollar sign format
df_spender_purchase = pd.DataFrame(spender_analysis)
df_spender_purchase = df_spender_purchase.sort_values(["Total Purchase Value"], ascending=False).head(5)
df_spender_purchase.style.format({
    'Average Purchase Price': "${:}",
    'Total Purchase Value': "${:}"
})

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

In [169]:
#calculate count sum avg
popular = purchase_data.groupby(['Item ID','Item Name'])
popular_count = popular.agg('count')['Purchase ID']
popular_sum = round(popular.agg('sum')['Price'],2)
popular_item = round(popular.agg('sum')['Price']/popular.agg('count')['Purchase ID'],2)
#plot df
popular_analysis = {
    'Purchase Count': popular_count,
    'Item Price': popular_item,
    'Total Purchase Value': popular_sum,
}
#dollar sign format
df_popular = pd.DataFrame(popular_analysis)
df_popular_new = df_popular.sort_values(['Purchase Count'], ascending=False).head(5)
df_popular_new.style.format({
    'Item Price': "${:}",
    'Total Purchase Value': "${:}"
})

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame

In [170]:
#sort value
df_popular_profit = df_popular.sort_values(['Total Purchase Value'], ascending=False).head(5)
#dollar sign format
df_popular_profit.style.format({
    'Item Price': "${:}",
    'Total Purchase Value': "${:}"
})